/*----------------------------------------------- *
LAND OF A BILLION LIGHTS SKIN
-----------------------------------------------
CODED BY THISBE OF THE RPG DIRECTORY
----------------------------------------------- */

html { overflow-x: auto; }
form { display: inline; }

/*----------------------------------------------- *
BODY AND TABLE STYLES
-----------------------------------------------*/

body {
font: normal normal normal 12px 'Open Sans', sans-serif;
color: #ccc;
background-color: #010101;
background-image: url(https://www.wodeternalnight.wiki/images/background.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}
